html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

table(border='1')
            thead
                tr
                    th Numéro
                    th Description
                    th date
                    th heure de début
                    th durée
            tbody
                each val in data
                    tr
                    td= val.idActivity
                    td= val.description
                    td= val.date
                    td= val.heureDebut
                    td= val.duree
                    
                    
                    
                    